<form [formGroup]="addFormPlace" (ngSubmit)="addPlace()">
    <label>Title</label>
    <input type="text" formControlName="title">

    <label>Description</label>
    <textarea formControlName="description"></textarea>


    <input type="submit" value="Add">
</form>