<form [formGroup]="addForm" (ngSubmit)="addCharacter()">
    <label>Name</label>
    <input type="text" formControlName="nickname">

   <label>Legend</label>
    <textarea formControlName="legend"></textarea>

     <label>Legend private</label>
     <textarea formControlName="legendPrivate"></textarea>


    <input type="submit" value="Add">
</form>